.navbar{
    display: none;
    @media(min-width:768px){
        display: block;
        width: 100%;
        margin-top: 50vw;
    }
    @media (min-width:1208px){
        display: block;
        position: absolute;
        top: 0px;
        width: 100%;
        margin-top: 0;
    }
    
}

.nav{
    &-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        a{
            text-decoration: none;
        }
    }
    &-des{
        @media(min-width:768px){
            width: 70px;
            height: 70px;
            margin-top: 10px;
            font-size: 10px;
            padding: 5px;
        }
        @media(min-width:1208px){
            width: 80px;
            height: 80px;
            font-size: 12px;
            margin-top: 20px;
            padding: 20px;
        }
        border-radius: 50%;
        text-align: center;
        color: $primary;
        font-weight: bold;
        p{
            // margin-top: 10px;
            width: 60px;
            margin-left: 10px;
        }
        &:hover{
            background-color: $secondary;
        }
    }
    &-about{
        background-color: $purple;
        margin-left: 10px;
        @media (min-width:768px){
            margin-top: 0px;
        }
        @media (min-width:1208px){
            margin-top: 50px;
        }
        p{
            @media (min-width:768px){
                margin-left: 0px;
                width: 70px;
            }
            @media (min-width:1208px){
                margin-left: 13px;
                width: 55px;
            }
            
        }
        &:hover{
            color: $purple;
        }
        
    }
    &-projects{
        background-color: $yellow2;
        @media (min-width:768px){
            margin: 0px;
            margin-top: 10px;
        }
        @media (min-width:1208px){
            margin-right: 25%;
            margin-top: 20px;
        }
        p{
            @media (min-width:768px){
                margin-left: 0px;
                width: 70px;
            }
            @media (min-width:1208px){
                margin-left: 13px;
                width: 55px;
            }
            
        }
        &:hover{
            color: $yellow2;
        }
    }
    &-course{
        background-color: $yellow;
        @media (min-width:768px){
            margin: 0px;
            margin-top: 10px;
        }
        @media (min-width:1208px){
            margin-left: 25%;
            margin-top: 20px;
        }
        p{
            @media (min-width:768px){
                margin-left: 0px;
                width: 70px;
            }
            @media (min-width:1208px){
                margin-left: 6px;
                width: 70px;
            }
            
        }
        &:hover{
            color: $yellow;
        }
    }
    &-contact{
        background-color: $red2;
        @media (min-width:768px){
            margin-top: 0px;
            margin-right: 10px;
        }
        @media (min-width:1208px){
            margin-top: 50px;
            margin-right: 25px;
        }
        p{
            @media (min-width:768px){
                margin-left: 0px;
                width: 70px;
            }
            @media (min-width:1208px){
                margin-left: 13px;
                width: 55px;
            }
            
        }
        &:hover{
            color: $red2;
        }
    }
    &-letter{
        @media (min-width:768px){
            margin-top: -60px;
        }
        @media (min-width:1208px){
            margin-top: -40px;
        }
        font-size: 50px;
        color: $secondary;
        &:hover{
            color: $darkerblue;
        }
    }
    &-icon{
        @media(min-width:768px){
            font-size: 18px;
        }
        @media (min-width:1208px){
            font-size: 28px;
        }
        
    }
}


// This is eventually going to be the  text to curve aroung my Nav bar items hopefully making  it look slightly better
// #simple_arc {
//     display: block;
//         width:306px;
//         height:305px;
// }

// #simple_arc>span[class^=w]:nth-of-type(n+0){
//     display:block;
//     position:absolute;
//     -moz-transform-origin:50% 100%;
//     -webkit-transform-origin:50% 100%;
//     -o-transform-origin:50% 100%;
//     -ms-transform-origin:50% 100%;
//     transform-origin:50% 100%;
// }

// #simple_arc span{
//     font-family:'Viga';
//     font-size:38px;
//     font-weight:regular;
//     font-style:normal;
//     line-height:0.65;
//     white-space:pre;
//     overflow:visible;
//     padding:0px;
// }

// #simple_arc .w0 {
//     -moz-transform: rotate(-1.14rad);
//     -webkit-transform: rotate(-1.14rad);
//     -o-transform: rotate(-1.14rad);
//     -ms-transform: rotate(-1.14rad);
//     transform: rotate(-1.14rad);
//     width: 21px;
//     height: 24px;
//     left: 42.7px;
//     top: 93.95px;
// }

