body{
    font-family: 'Roboto Mono', monospace;
    background-color: $secondary;
}

.section-title{
    text-transform: capitalize;
    color: $darkestblue;
    border-bottom: 5px $darkerblue solid;
    width: 120px;
}

.content-wrapper{
    @media(min-width:998px){
        width: 80vw;
    }
    @media (min-width:1208px){
        width: 1200px;
        margin: 0 auto;
    }
    
}